{% extends "layout.twig" %}

{% block body %}

	<div class="container">

		<div class="card mb-4">
			<h1 class="card-header text-center">About the project</h1>
			<div class="card-body">
				<h4 class="card-title">Title</h4>
				<p class="card-text">Text</p>
			</div>
		</div>

		<div class="card mb-4">
			<h1 class="card-header text-center">Contact links</h1>
			<div class="card-body">
				<p class="card-text">
					<div class="mb-4">
						<b>Ali DERELI :</b>
						<br>
						Email :
						<i>
							<a href="mailto:" class="link-info">la21...</a>
						</i>
					</div>
					<div class="mb-4">
						<b>Léandre KARASSAVAS :</b>
						<br>
						Email :
						<i>
							<a href="mailto:" class="link-info">la21...</a>
						</i>
					</div>
					<div class="mb-4">
						<b>Jérôme SARTIAUX :</b>
						<br>
						Email :
						<i>
							<a href="mailto:" class="link-info">la21...</a>
						</i><br>
						Github :
						<i>
							<a href="https://github.com/Jejesar" target="_blank" rel="noopener noreferrer" class="link-info">@Jejesar</a>
						</i>
					</div>
				</p>
			</div>
		</div>

	</div>

</div>{% endblock %}
