{% extends "layout.twig" %}

{% block scripts %}
	<script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<script defer src="/javascripts/dashboard.js"></script>
{% endblock %}

{% block body %}

	<div class="container">
		<div class="card mb-3">
			<h1 class="card-header text-center">Dashboard</h1>
			<div class="card-body">
				<div class="row">

					<div
						class="col-md-6">
						{# <button id="btn-start" class="btn btn-success btn-lg">Start a new sequence</button> #}
						<button class="btn btn-success btn-lg dropdown-toggle disabled mb-1" id="btn-start" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Start menu</button>
						<div class="dropdown-menu">
							<button class="dropdown-item" id="btn-start-new">Start new sequence</button>
							<button class="dropdown-item" id="btn-start-last">Select last sequence
								<i class="text-muted">(N°<span id="last-sequence">...</span>)</i>
							</button>
						</div>
						<button id="btn-stop" class="btn btn-danger btn-lg disabled mb-1">Stop the sequence</button>
					</div>

					<div class="col-md-6">
						<p>
							Current sequence :
							<span id="current-sequence-id">...</span>
							<br>
							<span class="badge bg-warning" id="badge-database">Database connecting...</span>
							<br>
							<span class="badge bg-warning" id="badge-waiting">Waiting for sequence...</span>
						</p>
					</p>
				</div>
			</div>
		</div>
		<div class="card-body">
			<canvas id="myChart"></canvas>
		</div>
		<div class="card-footer text-muted" hidden id="last-sequence-footer">
			Graphic of the current sequence
			<br>
			Started at :
			<span id="started-time"></span>
		</div>
	</div>
</div>{% endblock %}
